version: '3.4'

services:
  s3backend:
    image: ${DOCKER_REGISTRY-}s3backend
    build:
      context: .
      dockerfile: S3Backend/Dockerfile
    depends_on:
     - localstack
  localstack:
    image: "localstack/localstack:latest"
    container_name: "localstack"
    ports:
      - "4566-4599:4566-4599"
      - "8055:8080"
    environment:
      - SERVICES=s3
      - DEBUG=1
      - DATA_DIR=/tmp/localstack/data
    volumes:
      - './.localstack:/tmp/localstack'
      - '/var/run/docker.sock:/var/run/docker.sock'